.filterForm {
    width: 20vw;
    height: 90vh;

    background-color: red;
}

.horizFilterDiv {
    display: flex;
    flex-flow: row;

    justify-content: space-between;
}

.checkFilterDiv {
    /* display: grid;
    grid-gap: 10px;
    grid-template-rows: 4; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aqua;
}

.checkFilterDiv > div {
    display: flex;
    flex-flow: row;
}
